body {
    background-color: antiquewhite;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.282);
}
select#flista {
    width: 400px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}